       
<form action="//webjeda.us10.list-manage.com/subscribe/post?u=210acce5db69d3d4a04b0e25d&amp;id=bee17ce703" method="post" name="mc-embedded-subscribe-form" class="validate form-post" target="_blank" novalidate>
<h2 style="color:#fff">Get Free Updates</h2>
<div class="mc-field-group">
<input type="email" placeholder="Email" name="EMAIL" class="required email" id="mce-EMAIL" autofocus autocomplete="on"><input type="submit" value="✔" name="subscribe" class="sub-arrow">
</div>
</form>
<style>input#mce-EMAIL {border-bottom: none;}input#mce-EMAIL:focus {border-bottom: none;}</style>